p{padding:0 10px 0 17px} 
p{font-size:16px; line-height:28px; color:#595959;font-family:微软雅黑} 
pre, code{font-size:14px; font-family: Roboto, 'Courier New', Consolas, Inconsolata, Courier, monospace;}
code{margin:0 3px; padding:0 6px; white-space: pre-wrap; background-color:#F8F8F8; border-radius:2px; display: inline;} 
pre{font-size:15px; line-height:30px;} 
precode{white-space: pre; overflow:auto; border-radius:3px; padding:5px10px; display: block !important;} 
strong, b{color:#BF360C;} 
em, i{color:#009688;} 
big{font-size:22px; color:#009688; font-weight: bold; vertical-align: middle; border-bottom:1px solid #eee;} 
small{font-size:12px; line-height:22px;} 
hr{border-bottom:0.05em dotted #eee; margin:10px auto;} 
p{margin:15px 5px!important;} 
table, pre, dl, blockquote, q, ul, ol{margin-left:22px; padding-left:0; margin-right:20px;} 
ul, ol{padding-left:10px;} 
li{margin:5px;} 
lip{margin:5px 0!important;} 
ulul, ulol, olul, olol{margin:0; padding-left:10px;} 
olol, ulol{list-style-type: lower-roman;} 
ululol, ulolol, olulol, ololol{list-style-type: lower-alpha;} 
dl{padding:0;} 
dldt{font-size:1em; font-weight: bold; font-style: italic;} 
dldd{margin:0 0 10px; padding:0 10px;} 
blockquote, q{border-left:3px solid #009688; margin-left:22px; padding-left:0; margin-right:20px;color:#777; quotes: none;} 
blockquote,q{background-color:#f8f8ff;} 
blockquote::before, blockquote::after, q::before, q::after{content: none;} 
h1, h2, h3, h4, h5, h6{margin:20px 0 10px; padding:0; font-weight: bold; color:#009688;} 
h1,h2,h3{text-align: center;} 
h1{font-size:24px;} 
h2{font-size:22px;} 
h3{font-size:21px;} 
h4{font-size:19px;margin-left:22px; margin-right:20px} 
h5{font-size:18px;margin-left:22px; margin-right:20px} 
h6{font-size:17px; color:#009688;margin-left:22px; margin-right:20px} 

table {
  width:50%;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1em;
  font: inherit;
  border: 0;
  margin:0 auto;
  text-align: center;
}

tbody {
  margin: 0;
  padding: 0;
  border: 0;
}

table tr {
  border: 0;
  border-top: 1px solid #CCC;
  background-color: white;
  margin: 0;
  padding: 0;
}

table tr:nth-child(2n) {
  background-color: #F8F8F8;
}

table tr th, table tr td {
  font-size: 16px;
  border: 1px solid #CCC;
  margin: 0;
  padding: 5px 10px;
}

table tr th {
  font-weight: bold;
  color: #eee;
  border: 1px solid #009688;
  background-color: #009688;
}